/* Customize the label (the container) */
.form-group {   
    /*
    padding-left: 35px; 
    font-size: 22px;
    */

    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.form-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.form-group__checkmark {
    /*  
    height: 25px;
    width: 25px;
    */
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #eee;
    border: 1px solid #191A23;
    border-radius: 50%;
    outline: none;
}

.form-group__checkmark:hover {
    box-shadow:0 0 5px 0px #B9FF66 inset;
}

/* On mouse-over, add a grey background color */
.form-group:hover input ~ .form-group__checkmark {
    background-color: #ccc;
}

.form-group__checkmark:before {
    content:'';
    display:none;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}

/* Show the indicator (dot/circle) when checked */
.form-group input:checked ~ .form-group__checkmark:before {
    display: block;
    background:#B9FF66;
}