@keyframes slide-up-animation {
    0% {
        transform: translate(-50%, -0%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.slide_up {
    animation: slide-up-animation 0.8s;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(20px);
    z-index: 11;
}

.modal_content {
    /* width: 100px;
    height: 100px;
    background: #000; */
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    animation: slide-up-animation 0.8s;
    animation-fill-mode: forwards;
}