img {
    width: 100%;
    height: 100%;
}

.carousel-wrapper {
    width: 100%;
    position: relative;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    scrollbar-width: none;
    position: relative;
    
    @media (min-width: 576px) {
        left: -40%;
    }
}

.carousel-slides > * {
    flex-shrink: 0;
    flex-grow: 1;
}

.previous-arrow,
.next-arrow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

@media (min-width: 576px) {
    .previous-arrow,
    .next-arrow {
        width: 50px;
        height: 50px;
    }
}