/* .accordion {
    background: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-title {
    background: rebeccapurple;
    display: flex;
    justify-content: flex-start;
} */